.main-site {
  background: var(--bg-secondary);
  .sidebar {
    min-height: 100vh;
    padding: 2.5em;
  }
  .body {
    background: var(--bg-primary);
  }
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .profile-info-name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 80px;
      height: 80px;
      border-radius: 50%;
    }
    a {
      margin: 0em;
    }
    .username {
      margin-top: 0.5em;
      font-size: 1.2rem;
      font-weight: bold;
      color: var(--text);
    }
    .adress,
    .username-profile {
      font-size: 0.8rem;
      font-weight: 600;
      color: var(--text-grey);
    }
    .username-profile {
      font-size: 1em;
      margin-bottom: 0.3em;
    }
    .center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  .profile-info-meta {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 1em 0em;
    .meta-counter {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      p {
        font-size: 1.1em;
        font-weight: 700;
        color: var(--text);
      }
      .label {
        font-size: 0.8em;
        font-weight: 600;
        color: var(--text-grey);
      }
    }
  }
}
.navigation-sidebar {
  display: flex;
  flex-direction: column;
  padding: 2.5em 0;
  .navigation-item {
    padding: 0.5em;
    a {
      text-decoration: none;
      color: var(--text);
      font-size: 0.9rem;
      font-weight: 700;
    }
    svg {
      margin-right: 1em;
    }
    .active {
      color: var(--text-blue);
      svg {
        margin-right: 1.5em;
        path {
          fill: var(--text-blue);
        }
      }
    }
  }
}

.contacts-sidebar {
  .header {
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 1rem;
  }
}

.navigation-user {
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  border-radius: 1.1em;
  border: 1px solid var(--text-grey2);
  svg {
    margin: 1em 1em;
  }
  input {
    padding: 1em 0.7em;
    border: none;
    outline: none;
    margin-right: 1em;
    height: 2em;
    width: 100%;
    color: var(--text-grey3);
  }
}
