.template-body {
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  .template-sidebar {
    position: fixed;
    height: 100vh;
  }
  .body {
    display: grid;
    grid-template-columns: auto 22em;
    width: 100%;
    .content {
      padding: 1em;
    }
    .notification-template {
      background-color: var(--bg-secondary);
    }
  }
}
.sidebar-block {
  height: auto;
  width: 8em;
  background-color: red;
  z-index: -99;
  opacity: 0;
}
.template-open {
  .sidebar-block {
    width: 18em;
  }
}

@media screen and (max-width: 1100px) {
  .body {
    display: grid;
    grid-template-columns: 1fr !important;
    .notification-tempalte {
      padding: 1em;
      order: 1;
    }
    .content {
      order: 2;
    }
  }
}

@media screen and (max-width: 800px) {
  .template-close {
    .template-sidebar {
      width: 100%;
      height: 5em;
    }
  }
  .sidebar-block {
    display: none;
  }
  .body {
    padding-top: 5em;
  }
  .sidebar-block-mobile {
    height: 10em;
    width: auto;
  }
}
