.contacts-sidebar {
  padding-top: 3em;
  .header {
    color: var(--text);
    margin-bottom: 1em;
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.contact-item {
  margin: 0.4em 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .profile-pic {
    width: 3em;
    img {
      border-radius: 50%;
      width: 3em;
      height: 3em;
    }
  }
  .profile-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1em;
    display: flex;
    align-items: center;
    .info {
      display: flex;
      flex-direction: column;
      a {
        font-weight: 700;
        font-size: 0.9rem;
        color: var(--text);
        &:hover {
          color: var(--text-blue);
        }
      }
      .label {
        font-weight: 600;
        font-size: 0.7rem;
        color: var(--text-grey);
      }
    }
  }
}
