.feed-item {
  border-radius: 1em;
  background: var(--bg-secondary);
  padding: 1em;
  margin: 1em 0;
  .post-text {
    font-weight: 400;
    color: var(--text-2);
  }
  .hashtags {
    display: flex;
    flex-direction: row;
    padding: 1em 0;
    p {
      color: var(--text-blue);
      margin-right: 0.4rem;
    }
  }
  .post-meta {
    display: flex;
    flex-direction: row;

    .labels {
      a {
        display: flex;
        flex-direction: row;
        width: 100%;
      }
      .label {
        display: flex;
        align-items: center;
        flex-direction: row;
        margin: 0 0.3em;
        span {
          padding-left: 0.5em;
          display: flex;
          align-items: center;
          color: var(--text-grey3);
        }
      }
    }
    button {
      margin-left: auto;
    }
  }
}

.bold {
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text);
}
.date {
  font-size: 0.7rem;
  font-weight: 700;
  margin-top: 0.5em;
  color: var(--text-blue);
}

.img-post {
  display: flex;
  justify-content: center;
  img {
    margin: 1em 0 3em 0;
    max-width: 30em;
  }
}

.btn-delete-post {
  margin-left: auto;
  background: rgb(172, 39, 39);
  color: var(--text-white);
  padding: 0.2em 0.4em;
  border-radius: 0.4em;
  font-size: 0.8rem;
}
