.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3em;
  color: var(--text);
}
.post-item,
.comment-item {
  background: var(--bg-secondary);
  width: 100%;
  padding: 1em 4em;
  border-radius: 1em;
  padding: 1em;
  margin: 1em 0;
  .post-text {
    padding: 1em 0.3em;
    font-weight: 400;
    color: var(--text);
    font-weight: 600;
  }
  .post-meta {
    display: flex;
    flex-direction: row;
    .post-options {
      display: flex;
      align-items: center;
      justify-content: center;
      a {
        display: flex;
        flex-direction: row;
        width: 100%;
        button {
          font-size: 1.1rem;
        }
      }
      button {
        font-size: 1.5rem;
        background: none;
        margin: 0 0.3em;
        .btn-liked {
          path {
            fill: var(--text-blue);
          }
        }
        p {
          font-size: 1rem;
          padding-left: 0.5em;
          display: flex;
          align-items: center;
          color: var(--text-grey3);
        }
      }
    }
    button {
      margin-left: auto;
    }
  }
}
button:hover {
  color: var(--text-blue);
}

.bold {
  font-size: 0.9rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--text);
}
.date {
  font-size: 0.7rem;
  font-weight: 700;
  margin-top: 0.5em;
  color: var(--text-blue);
}

.img-post {
  display: flex;
  justify-content: center;
  img {
    margin: 1em 0 3em 0;
    max-width: 30em;
  }
}

.btn-delete {
  color: var(--text);
}
.btn-liked {
  color: var(--text-blue);
  // &:hover {
  //   color: red;
  // }
}

.right {
  .btn-delete-comment {
    margin-left: auto;
    height: 1.9em;
    width: 2em;
    background: rgb(197, 40, 40);
    color: white;
    padding: 0 0.5em;
    border-radius: 0.5em;
    &:hover {
      background: rgb(158, 32, 32);
      color: white;
    }
  }
}

.d-flex {
  display: flex;
  .btn-delete {
    margin: 0 0.5em;
    background: rgb(197, 40, 40);
    color: white;
    padding: 0 0.5em;
    border-radius: 0.5em;
    &:hover {
      background: rgb(158, 32, 32);
      color: white;
    }
  }
}

.btn-favorite {
  background: none;
  svg {
    width: 1.3em;
    &:hover {
      path {
        fill: var(--text-blue);
      }
    }
  }
}
.is-favorite {
  svg {
    path {
      fill: var(--text-blue);
    }
    &:hover {
      path {
        fill: var(--text-blue-dark);
      }
    }
  }
}
