button {
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  border: none;
}

.btn-chat {
  background: none;
  svg {
    height: 1.2em;
  }
  &:hover {
    svg {
      height: 1.5em;
    }
  }
}

.btn-create-post {
  color: var(--text-white);
  background: linear-gradient(254.81deg, #1a50ff 8.13%, #d96ff8 92.46%);
  padding: 0.5em 1em;
  font-size: 0.9rem;
  border-radius: 1em;
  max-width: 13em;
}

.btn-logout {
  margin: 0.3em;
  background: none;
  width: 100px;
  padding: 0.5em;
  border-radius: 0.5em;
  svg {
    margin-right: 1em;
  }
  &:hover {
    background: var(--text-blue);
    color: var(--text-white);
    svg {
      path {
        fill: var(--text-white);
      }
    }
  }
}
