button {
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  border: none;
}

.btn-chat {
  background: none;
  svg {
    height: 1.2em;
  }
  &:hover {
    svg {
      height: 1.5em;
    }
  }
}

.btn-create-post {
  color: var(--text-white);
  background: linear-gradient(254.81deg, #1a50ff 8.13%, #d96ff8 92.46%);
  padding: 0.5em 1em;
  font-size: 0.9rem;
  border-radius: 1em;
  max-width: 13em;
}

.btn-logout {
  margin: 0.3em;
  background: none;
  width: 100px;
  padding: 0.5em;
  border-radius: 0.5em;
  svg {
    margin-right: 1em;
  }
  &:hover {
    background: var(--text-blue);
    color: var(--text-white);
    svg {
      path {
        fill: var(--text-white);
      }
    }
  }
}

.margin-left {
  margin-left: auto;
}

// switch
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.btn-open-modal-post {
  svg {
    font-size: 5em;
    fill: var(--text-blue);
    &:hover {
      fill: var(--text-blue-dark);
    }
  }
}
