.navigation-user {
  background: var(--bg-secondary);
  display: flex;
  align-items: center;
  border-radius: 1.1em;
  border: 1px solid var(--text-grey2);
  svg {
    margin: 1em 1em;
  }
  input {
    padding: 1em 0.7em;
    border: none;
    outline: none;
    margin-right: 1em;
    height: 2em;
    width: 100%;
    color: var(--text-grey3);
  }
}
