.input-global {
  padding: 0.4em 0.8em;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2em;
  margin: 1em 0;
  .input {
    width: 100%;
    input {
      width: calc(100% - 1em);
      min-width: 18em;
      height: 2.8em;
      border-radius: 0.5em;
      border: none;
      outline: none;
    }
  }
  &::placeholder {
    font-weight: 700;
  }
}

.svg {
  display: flex;
  align-items: center;
  min-width: 1em;
}

.text-input-light {
  background: var(--text-grey2);
  input {
    background: var(--text-grey2);
  }
}

.text-input-dark {
  background: #242324;

  input {
    color: #fff;
    background: #242324;
  }
}

.has-error {
  &::placeholder {
    color: rgb(255, 0, 0);
  }
}
.select-body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-4);
  width: 100%;
  label {
    margin: 0.5em 0;
  }
  .select-item {
    width: calc(100% - 1em);
    background-color: var(--bg-4);
    border: none;
    height: 4em;
    color: var(--text);
    padding: 1em;
  }
  .svg {
    margin: 0 1em;
  }
}
.dropdownPagination {
  width: 5em;
  background-color: var(--bg-secondary);
  color: var(--text);
  padding: 0.5em 2em;
  border: none;
  border-radius: 0.5em;
}
