.text-input {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 2em;
  background: var(--text-grey2);
  margin: 1em 0;
  padding: 0.4em 0.8em;
  .input {
    width: 100%;
    input {
      background: var(--text-grey2);
      min-width: 18em;
      height: 2.8em;
      border-radius: 0.5em;
      border: none;
      outline: none;
    }
  }
  .svg {
    display: flex;
    align-items: center;
    min-width: 1em;
  }
}
.has-error {
  &::placeholder {
    color: red;
  }
}
